body, html {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(to top right, #027333, #325943);
  color: #A9D9BA;
}

.grid-container {
  display: grid;
  grid-template-areas: 
      "banner banner"
      "sidebar content"
      "sidebar content";
  grid-template-columns: 280px 1fr;
  height: 100%;
}

.banner {
  grid-area: banner;
  border: none;
  margin-top: 50px;
  font-size: 48px;
}

.sidebar {
  grid-area: sidebar;
  margin-left: 50px;
}

.content {
  grid-area: content;
  margin: 0 50px;
}

.sidebar-container {
  height: 700px;
  border-right: 1px solid #D9BD32;
}

.content-container {
  max-width: 800px;
  margin: 0 auto;
}

header {
  font-size: 36px;
  text-align: center;
  padding: 12px 0;
  border-bottom: 1px solid #D9BD32;
}
/* LIST CSS */
ul {
  padding: 12px 0;
}
.project-list {
  width: 120px;
  margin: 0 auto;
}

.todo-list {
  width: 60%;
  margin: 0 auto;
}

/* LIST ITEM CSS */
li {
  padding: 5px;
  cursor: pointer;
}

.project-item {
  text-align: right;
}

.project-item:hover {
  text-decoration: underline;
}

.todo-item {
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: space-between;
}

/* INPUT CSS */
input {
  height: 26px;
  border: 1px solid #325943;
  font-size: 16px;
  padding-left: 5px;
  border-radius: 4px;
  outline: none;
}

input:focus {
  box-shadow: 0 0 5px #00d35b;
}

.project-input {
  margin-top: 5px;
  margin-left: 20px;
  width: 120px;
  height: 26px;
  border: 1px solid #325943;
  font-size: 16px;
  padding-left: 5px;
}

.todo-input {
  width: 160px;
}

/* BUTTON CSS */
.button {
  width: 55px;
  height: 30px;
  background-color: #00d35b;
  border: none;
  border-radius: 4px;
  outline: none;
}

.button:hover {
  box-shadow: 0 0 5px #00d35b;
}

.button:active {
  transform: scale(1.1);
}

.project-delete {
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  color: #A9D9BA;
  font-size: 18px;
}

.project-delete:hover {
  text-decoration: underline;
}

.project-delete:active {
  transform: scale(1.1);
}
/* FORM CSS */
form {
  padding-top: 10px;
  border-top: 1px solid #D9BD32;
}

.project-form {
  text-align: center;
}

.todo-form {
  height: 40px;
  width: 350px;
  margin: 0 auto;
}

/* MATERIAL ICONs */
.material-icons {
  border: 1px solid black;
}